/* * {
  box-sizing: border-box;
}

body {
  background-color: #21232a;
  color: #fff;
  display: flex;
  justify-content: center;
}

h1 {
  margin: 0;
}

button {
  font: inherit;
  padding: 8px 25px;
  border-radius: 8px;
  cursor: pointer;
} */
